<form action=<%= "/videos/#{params[:id]}" %> method="post">
  <input name="_method" type="hidden" value="put">
  <label for="title">Title:</label>
    <input type="text" id="title" value= '<%= "#{@video.title}" %>' name="video[title]" />

    <label for="description">Description:</label>
    <input type="text" id="description" name="video[description]" value='<%= @video.description %>' >

    <label for="youtube_id">Youtube ID:</label>
    <input type="text" id="youtube_id" name="video[youtube_id]" value='<%= @video.youtube_id %>' >

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <input type="submit" value="submit">

</form>

<form action=<%= "/videos/#{params[:id]}" %> method="post">
  <input name="_method" type="hidden" value="DELETE">

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <input type="submit" value="delete">
</form>
